.playlistPicker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 80px;
  align-items: center;
  margin: 0 auto;
}

.ui.card {
  cursor: pointer;
  margin: 25px 0;
}

.ui.card:first-child {
  margin-top: 25px;
}

.ui.card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}