body, html{
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
  z-index: 2;
}

.main-title{
  color: white;
  font-size: 100px;
  font-weight: 500;
  margin: 10px;
  z-index: 4;
  position: relative;
}

.years{
  color: white;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  margin: 0px 20px;
  z-index: 4;
  position: relative;
}

.video-iframe{
  position: fixed;
  z-index: 1;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150vh;
}

.gradient {
  position: fixed;
  z-index: 3;
  top: 0px;
  opacity: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  transition: opacity 1.5s;
}

.show-gradient{
  opacity: 1;
}

.gradient1 {
  pointer-events: none;
  background: #997BF6;
  background: linear-gradient(top left, #997BF6, #6F0D7F);
}

.gradient2{
  pointer-events: none;
  background: #EB7F00;
  background: linear-gradient(top left, #EB7F00, #1595A3);
}

.gradient3{
  pointer-events: none;
  background: #EB7F00;
  background: linear-gradient(top left, #BD8D46, #B9121B);
}