.patiphone-container {
  position: relative;
  width: 50%;
  border-radius: 50%;
  background-color: black;
  transform: rotate(-30deg);
  z-index: 1;
	top: 50%;
	left: 50%;
	margin: -25% 0 0 -25%;
	opacity: 0.9;
  background-image: url('./images/record.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 1s;
}

.patiphone-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.patiphone-container:hover{
  opacity: 0.9 !important;
}

.white-circle {
  position: absolute;
  width: 34%;
  height: 34%;
  margin: 33%;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}

.patiphone-artist-name {
	font-family: 'mandatory18';
  position: absolute;
  width: 50%;
  margin: 10% 25%;
  color: red;
  font-size: 1.7vw;
  text-transform: uppercase;
	line-height: 3.5vh;
}

.patiphone-artist-years {
  position: absolute;
  width: 60%;
  margin: 10% 20%;
  color: red;
  font-size: 1.4vw;
  top: 55%;
	font-family: 'mandatory36';
}

.small-circle {
  position: absolute;
  width: 10%;
  height: 10%;
  margin: 45%;
  background-color: black;
  border-radius: 50%;
  text-align: center;
}

