.playlist {
  background-image: url('../../../images/record.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  width: 320px;
  margin: -60px;
  z-index: 0;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.9;
}

.playlist:hover {
  z-index: 1;
  opacity: 1;
}

.playlist-title {
  color: white;
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  font-family: 'mandatory36';
  color: red;
  letter-spacing: 1px;
}